# Notebook #1: Data Cleaning & Prep
Capstone Project\
ADS-599 Summer 2024\
Roger Qiu & Shailja Somani

## Setup & Package Imports

In [67]:
import pandas as pd

## Import Datasets

### Read in and Clean Target Table (Gastric Cancer Mortality Rates Table)

In [68]:
# Define the file paths
#file_path_male = '/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_MALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_MALE_Y2023M06D28.CSV'
#file_path_female = '/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_FEMALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_FEMALE_Y2023M06D28.CSV'

file_path_male = '/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/Raw_Data/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_MALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_MALE_Y2023M06D28.CSV'
file_path_female = '/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/Raw_Data/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_FEMALE/IHME_USA_STOMACH_CANCER_COUNTY_RACE_ETHN_2000_2019_MX_2019_FEMALE_Y2023M06D28.CSV'

# read in csv file, making sure to keep County FIPS field a string 
df_male = pd.read_csv(file_path_male)

df_male.head()

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
1,1,Deaths,102,United States of America,NaN,2,Latino,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
2,1,Deaths,102,United States of America,NaN,4,Black,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
3,1,Deaths,102,United States of America,NaN,5,White,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
4,1,Deaths,102,United States of America,NaN,6,AIAN,1,Male,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0

In [69]:
# read in csv file
df_female = pd.read_csv(file_path_female)

df_female.head()

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
1,1,Deaths,102,United States of America,NaN,2,Latino,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
2,1,Deaths,102,United States of America,NaN,4,Black,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
3,1,Deaths,102,United States of America,NaN,5,White,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
4,1,Deaths,102,United States of America,NaN,6,AIAN,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0

In [70]:
# union male and female datasets together
df_combined = pd.concat([df_female, df_male], ignore_index=True)
df_combined.head()

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
1,1,Deaths,102,United States of America,NaN,2,Latino,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
2,1,Deaths,102,United States of America,NaN,4,Black,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
3,1,Deaths,102,United States of America,NaN,5,White,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0
4,1,Deaths,102,United States of America,NaN,6,AIAN,2,Female,28,<1 year,414,Stomach cancer,2019,3,Rate,0.0,0.0,0.0

In [71]:
df_combined.shape

(808920, 19)

In [72]:
# check distinct values, if only one, can drop
df_combined['cause_name'].unique()

array(['Stomach cancer'], dtype=object)

In [73]:
# select important fields
df_select = df_combined[['location_name', 'fips', 'race_name', 'sex_name', 'age_name', 'age_group_id', 'val']]
df_select.head()

,location_name,fips,race_name,sex_name,age_name,age_group_id,val
0,United States of America,NaN,Total,Female,<1 year,28,0.0
1,United States of America,NaN,Latino,Female,<1 year,28,0.0
2,United States of America,NaN,Black,Female,<1 year,28,0.0
3,United States of America,NaN,White,Female,<1 year,28,0.0
4,United States of America,NaN,AIAN,Female,<1 year,28,0.0

In [74]:
df_select.shape

(808920, 7)

In [75]:
# filter out rows where 'fips' is null, we'll need this field
df_filtered = df_select.dropna(subset=['fips'])

# also filter out rows where 'race_name' is 'Total' bc that's aggregated data
df_filtered = df_filtered[df_filtered['race_name'] != 'Total']

# Similar to filtering out race-aggregated data, filter out age-aggregated data
df_filtered = df_filtered[~df_filtered['age_name'].isin(['All Ages', 'Age-standardized'])]

# Filter out rows for aggregated to entire states rather than individual counties
df_filtered = df_filtered[df_filtered['fips'] > 99].reset_index()

df_filtered.head()

,index,location_name,fips,race_name,sex_name,age_name,age_group_id,val
0,253,Autauga County (Alabama),1001.0,Latino,Female,<1 year,28,0.0
1,254,Autauga County (Alabama),1001.0,Black,Female,<1 year,28,0.0
2,255,Autauga County (Alabama),1001.0,White,Female,<1 year,28,0.0
3,256,Autauga County (Alabama),1001.0,AIAN,Female,<1 year,28,NaN
4,257,Autauga County (Alabama),1001.0,API,Female,<1 year,28,NaN

In [76]:
df_filtered = df_filtered.drop('index', axis=1)
df_filtered.shape

(600020, 7)

In [77]:
# Drop all nulls in target column (val)
df_filtered = df_filtered.dropna(subset=['val'])
df_filtered.shape

(277894, 7)

### Read in SDOH data to be joined via County FIPS Code

In [78]:
# read in sdoh data
sdoh = pd.read_excel('/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/Raw_Data/SDOH_2019_COUNTY_1_0.xlsx', sheet_name='Data')
sdoh.head()

,YEAR,COUNTYFIPS,STATEFIPS,STATE,COUNTY,REGION,TERRITORY,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,ACS_TOT_POP_ABOVE5,...,POS_TOT_HOSP_AMBULANCE,POS_HOSP_AMBULANCE_RATE,POS_TOT_HOSP_CHEMO,POS_HOSP_CHEMO_RATE,POS_TOT_HOSP_ED,POS_HOSP_ED_RATE,POS_PCT_HOSP_FOR_PROFIT,POS_PCT_HOSP_NON_PROFIT,POS_PCT_HOSP_GOV,CEN_AIAN_NH_IND
0,2019,1001,1,Alabama,Autauga County,South,0,55380.0,54699.0,52163.0,...,0.0,0.00,0.0,0.0,1.0,0.02,52.63,36.84,10.53,0.0
1,2019,1003,1,Alabama,Baldwin County,South,0,212830.0,210908.0,201141.0,...,0.0,0.00,1.0,0.0,4.0,0.02,63.49,36.51,0.00,0.0
2,2019,1005,1,Alabama,Barbour County,South,0,25361.0,25050.0,24012.0,...,0.0,0.00,0.0,0.0,1.0,0.04,73.33,20.00,6.67,0.0
3,2019,1007,1,Alabama,Bibb County,South,0,22493.0,22141.0,21178.0,...,1.0,0.04,0.0,0.0,1.0,0.04,42.86,35.71,21.43,0.0
4,2019,1009,1,Alabama,Blount County,South,0,57681.0,57191.0,54249.0,...,0.0,0.00,0.0,0.0,1.0,0.02,60.00,40.00,0.00,0.0

In [79]:
# Keep just CountyFIPS column as matching key & all SDOH values (cols beginning with ACS) - will try selecting a key few, as well as PCA on all columns, later
sdoh_filtered = sdoh.drop(columns=['YEAR', 'STATEFIPS', 'STATE', 'COUNTY', 'REGION', 'TERRITORY'])
filtered_columns = ['COUNTYFIPS'] + [col for col in sdoh_filtered.columns if col.startswith('ACS_')]
sdoh_filtered = sdoh_filtered[filtered_columns]
sdoh_filtered.head()

,COUNTYFIPS,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,ACS_TOT_POP_ABOVE5,ACS_TOT_POP_ABOVE15,ACS_TOT_POP_ABOVE16,ACS_TOT_POP_16_19,ACS_TOT_POP_ABOVE25,ACS_TOT_CIVIL_POP_ABOVE18,ACS_TOT_CIVIL_VET_POP_ABOVE25,...,ACS_PCT_PRIVATE_SELF,ACS_PCT_PRIVATE_SELF_BELOW64,ACS_PCT_PUBLIC_ONLY,ACS_PCT_PUBLIC_OTHER,ACS_PCT_PUBLIC_OTHER_BELOW64,ACS_PCT_SELF_MDCR_ABOVE35,ACS_PCT_TRICARE_VA,ACS_PCT_TRICARE_VA_BELOW64,ACS_PCT_UNINSURED,ACS_PCT_UNINSURED_BELOW64
0,1001,55380.0,54699.0,52163.0,44749.0,43953.0,3016.0,37367.0,41725.0,5120.0,...,5.67,6.65,25.31,0.21,0.15,2.38,3.88,4.49,7.07,8.31
1,1003,212830.0,210908.0,201141.0,174821.0,172297.0,10307.0,151112.0,166417.0,19541.0,...,9.13,11.28,21.93,0.45,0.09,4.21,1.73,2.16,8.88,11.00
2,1005,25361.0,25050.0,24012.0,20968.0,20636.0,1080.0,17964.0,20054.0,1328.0,...,5.40,6.64,36.27,0.97,0.35,4.33,0.90,1.13,11.32,14.10
3,1007,22493.0,22141.0,21178.0,18827.0,18492.0,1065.0,16168.0,17862.0,1391.0,...,6.06,7.26,29.39,0.59,0.15,1.85,0.91,1.09,10.67,12.79
4,1009,57681.0,57191.0,54249.0,46625.0,45907.0,2904.0,39791.0,44257.0,3406.0,...,5.19,6.26,22.24,0.70,0.18,2.71,1.08,1.31,10.76,13.03

In [80]:
# Join to target data
target_sdoh_data = df_filtered.merge(sdoh_filtered, left_on='fips', right_on='COUNTYFIPS', how='left')
target_sdoh_data.head()

,location_name,fips,race_name,sex_name,age_name,age_group_id,val,COUNTYFIPS,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,...,ACS_PCT_PRIVATE_SELF,ACS_PCT_PRIVATE_SELF_BELOW64,ACS_PCT_PUBLIC_ONLY,ACS_PCT_PUBLIC_OTHER,ACS_PCT_PUBLIC_OTHER_BELOW64,ACS_PCT_SELF_MDCR_ABOVE35,ACS_PCT_TRICARE_VA,ACS_PCT_TRICARE_VA_BELOW64,ACS_PCT_UNINSURED,ACS_PCT_UNINSURED_BELOW64
0,Autauga County (Alabama),1001.0,Latino,Female,<1 year,28,0.0,1001.0,55380.0,54699.0,...,5.67,6.65,25.31,0.21,0.15,2.38,3.88,4.49,7.07,8.31
1,Autauga County (Alabama),1001.0,Black,Female,<1 year,28,0.0,1001.0,55380.0,54699.0,...,5.67,6.65,25.31,0.21,0.15,2.38,3.88,4.49,7.07,8.31
2,Autauga County (Alabama),1001.0,White,Female,<1 year,28,0.0,1001.0,55380.0,54699.0,...,5.67,6.65,25.31,0.21,0.15,2.38,3.88,4.49,7.07,8.31
3,Baldwin County (Alabama),1003.0,Latino,Female,<1 year,28,0.0,1003.0,212830.0,210908.0,...,9.13,11.28,21.93,0.45,0.09,4.21,1.73,2.16,8.88,11.00
4,Baldwin County (Alabama),1003.0,Black,Female,<1 year,28,0.0,1003.0,212830.0,210908.0,...,9.13,11.28,21.93,0.45,0.09,4.21,1.73,2.16,8.88,11.00

In [81]:
target_sdoh_data.shape

(277894, 317)

### Read in FIPS to ZCTA Crosswalk
https://data.world/nrippner/fips-to-zip-code-crosswalk

In [82]:
crosswalk_df = pd.read_csv('/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/Raw_Data/fips_zip_x.txt', 
                           delimiter=',', quotechar='"', skiprows=1, encoding='ISO-8859-1')
crosswalk_df.head()

,FIPS state,county,ZIP Census Tabulation Area,State Postal Code,cntyname,zipname,"Total Pop, 2010 census",county to zcta5 alloc factor
0,1,1001,36003,AL,Autauga AL,"Autaugaville, AL",1975,0.036
1,1,1001,36006,AL,Autauga AL,"Billingsley, AL",994,0.018
2,1,1001,36022,AL,Autauga AL,"Deatsville, AL",4265,0.078
3,1,1001,36051,AL,Autauga AL,"Marbury, AL",1615,0.030
4,1,1001,36066,AL,Autauga AL,"Prattville, AL",17282,0.317

In [83]:
# Keep only crosswalk columns needed
crosswalk_df = crosswalk_df[['county', 'ZIP Census Tabulation Area']]
crosswalk_df.shape

(44139, 2)

### Read in CDC PLACES health measures data (to be joined using ZCTA)
Note: Do not confuse LocationName with the FIPS codes. These are now ZCTAs. One way to check/confirm this is that this LocationName field has 1002, which is a ZCTA code, but not a valid FIPS code.

In [84]:
# Read in CDC PLACES health measures data
#zcta = pd.read_csv('/Users/roger.qiu/Documents/other/code/USD/12. Capstone Project/ADS-599-Capstone/module_1/option2/PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release_20240629.csv')
health_meas = pd.read_csv('/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/Raw_Data/PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release_20240629.csv')
health_meas.head()

/var/folders/rq/tgl8p9x96vl4gjdp366mpjv00000gn/T/ipykernel_91424/4035758417.py:3: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  health_meas = pd.read_csv('/Users/shailjasomani/Documents/USD_MS_ADS/ADS_599/Datasets/PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release_20240629.csv')

,Year,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
0,2021,1001,BRFSS,Prevention,Current lack of health insurance among adults ...,%,Crude prevalence,4.1,NaN,NaN,3.4,5.0,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,ACCESS2,CrdPrv,Health Insurance
1,2021,1001,BRFSS,Health Outcomes,Arthritis among adults aged >=18 years,%,Crude prevalence,33.7,NaN,NaN,30.1,37.4,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis
2,2021,1001,BRFSS,Health Risk Behaviors,Binge drinking among adults aged >=18 years,%,Crude prevalence,15.6,NaN,NaN,13.2,18.2,16769,POINT (-72.62581515 42.06255509),1001,RISKBEH,BINGE,CrdPrv,Binge Drinking
3,2021,1001,BRFSS,Health Outcomes,High blood pressure among adults aged >=18 years,%,Crude prevalence,33.8,NaN,NaN,30.2,37.4,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,BPHIGH,CrdPrv,High Blood Pressure
4,2021,1001,BRFSS,Prevention,Taking medicine for high blood pressure contro...,%,Crude prevalence,78.9,NaN,NaN,75.7,81.8,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,BPMED,CrdPrv,Taking BP Medication

In [85]:
# Pivot data so that each row is a ZCTA (geographical location) and each column is a metric's % value
pivoted_health_meas = health_meas.pivot_table(index='LocationName', 
                                columns='Short_Question_Text', 
                                values='Data_Value',
                                aggfunc='first') 

# Make locationname a column again & remove short_question_text as header
pivoted_health_meas.reset_index(inplace=True)
pivoted_health_meas.columns.name = None
pivoted_health_meas.head()

,LocationName,All Teeth Lost,Annual Checkup,Any Disability,Arthritis,Binge Drinking,COPD,Cancer (except skin),Cervical Cancer Screening,Cholesterol Screening,...,Mental Health,Mobility Disability,Obesity,Physical Health,Physical Inactivity,Self-care Disability,Sleep <7 hours,Stroke,Taking BP Medication,Vision Disability
0,1001,13.3,74.5,31.5,33.7,15.6,7.3,9.1,85.6,89.1,...,16.3,14.3,31.8,11.3,23.4,3.5,33.5,3.3,78.9,4.2
1,1002,12.4,69.2,26.5,18.9,17.3,5.1,4.9,73.5,78.0,...,20.2,9.2,23.3,8.9,19.9,2.9,30.1,2.1,70.1,4.4
2,1003,NaN,63.1,35.2,5.5,19.3,3.4,0.7,46.7,56.0,...,33.8,4.0,22.2,8.5,22.7,2.2,33.1,0.7,19.8,6.4
3,1005,12.1,75.7,24.9,26.4,17.4,6.4,7.4,86.2,88.3,...,16.2,10.7,31.4,10.0,19.9,2.9,32.5,2.7,74.5,3.4
4,1007,9.2,71.7,21.3,25.2,18.1,5.3,6.9,85.4,89.0,...,14.7,9.4,25.7,8.9,17.3,2.5,30.0,2.3,73.3,3.0

In [86]:
# Join to crosswalk (note: county and ZCTA here are different, 
    # showing the importance of keeping track of what is FIPS vs. ZCTA codes)
pivoted_health_meas_xwalk = pivoted_health_meas.merge(crosswalk_df, left_on='LocationName', 
                                                      right_on='ZIP Census Tabulation Area', how='left')
pivoted_health_meas_xwalk.head()

,LocationName,All Teeth Lost,Annual Checkup,Any Disability,Arthritis,Binge Drinking,COPD,Cancer (except skin),Cervical Cancer Screening,Cholesterol Screening,...,Obesity,Physical Health,Physical Inactivity,Self-care Disability,Sleep <7 hours,Stroke,Taking BP Medication,Vision Disability,county,ZIP Census Tabulation Area
0,1001,13.3,74.5,31.5,33.7,15.6,7.3,9.1,85.6,89.1,...,31.8,11.3,23.4,3.5,33.5,3.3,78.9,4.2,25013,1001
1,1002,12.4,69.2,26.5,18.9,17.3,5.1,4.9,73.5,78.0,...,23.3,8.9,19.9,2.9,30.1,2.1,70.1,4.4,25011,1002
2,1002,12.4,69.2,26.5,18.9,17.3,5.1,4.9,73.5,78.0,...,23.3,8.9,19.9,2.9,30.1,2.1,70.1,4.4,25015,1002
3,1003,NaN,63.1,35.2,5.5,19.3,3.4,0.7,46.7,56.0,...,22.2,8.5,22.7,2.2,33.1,0.7,19.8,6.4,25015,1003
4,1005,12.1,75.7,24.9,26.4,17.4,6.4,7.4,86.2,88.3,...,31.4,10.0,19.9,2.9,32.5,2.7,74.5,3.4,25027,1005

In [87]:
# Aggregate to county level taking the average of all metrics. Drop ZCTA columns.
health_meas_FIPS = pivoted_health_meas_xwalk.drop(columns=['LocationName', 'ZIP Census Tabulation Area'])
health_meas_FIPS = health_meas_FIPS.groupby('county').mean().reset_index()
health_meas_FIPS.head()

,county,All Teeth Lost,Annual Checkup,Any Disability,Arthritis,Binge Drinking,COPD,Cancer (except skin),Cervical Cancer Screening,Cholesterol Screening,...,Mental Health,Mobility Disability,Obesity,Physical Health,Physical Inactivity,Self-care Disability,Sleep <7 hours,Stroke,Taking BP Medication,Vision Disability
0,1001,18.660000,76.590000,34.400000,31.190000,14.490000,8.410000,6.380000,83.310000,85.040000,...,19.060000,18.270000,41.650000,13.820000,33.590000,5.060000,40.040000,3.680000,79.660000,6.320000
1,1003,13.966667,75.329167,33.491667,32.741667,15.445833,8.783333,7.887500,84.316667,87.037500,...,16.820833,17.654167,39.058333,13.279167,31.612500,4.170833,34.975000,3.625000,81.445833,5.104167
2,1005,24.611111,77.722222,41.622222,33.933333,12.655556,10.977778,6.900000,81.577778,84.077778,...,19.833333,24.044444,43.155556,16.811111,40.866667,7.244444,41.422222,4.955556,81.566667,9.000000
3,1007,18.066667,73.983333,34.583333,31.291667,15.441667,8.833333,6.641667,82.391667,84.533333,...,19.091667,17.808333,39.641667,13.891667,34.175000,4.608333,38.666667,3.466667,79.166667,5.691667
4,1009,17.523529,73.652941,34.388235,30.711765,15.270588,9.005882,6.811765,82.364706,83.923529,...,19.070588,17.623529,38.017647,14.105882,33.047059,4.535294,37.429412,3.370588,77.852941,5.617647

In [88]:
# Join to rest of dataset
full_data = target_sdoh_data.merge(health_meas_FIPS, left_on='fips', right_on='county', how='left')
full_data.head()

,location_name,fips,race_name,sex_name,age_name,age_group_id,val,COUNTYFIPS,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,...,Mental Health,Mobility Disability,Obesity,Physical Health,Physical Inactivity,Self-care Disability,Sleep <7 hours,Stroke,Taking BP Medication,Vision Disability
0,Autauga County (Alabama),1001.0,Latino,Female,<1 year,28,0.0,1001.0,55380.0,54699.0,...,19.060000,18.270000,41.650000,13.820000,33.5900,5.060000,40.040,3.680,79.660000,6.320000
1,Autauga County (Alabama),1001.0,Black,Female,<1 year,28,0.0,1001.0,55380.0,54699.0,...,19.060000,18.270000,41.650000,13.820000,33.5900,5.060000,40.040,3.680,79.660000,6.320000
2,Autauga County (Alabama),1001.0,White,Female,<1 year,28,0.0,1001.0,55380.0,54699.0,...,19.060000,18.270000,41.650000,13.820000,33.5900,5.060000,40.040,3.680,79.660000,6.320000
3,Baldwin County (Alabama),1003.0,Latino,Female,<1 year,28,0.0,1003.0,212830.0,210908.0,...,16.820833,17.654167,39.058333,13.279167,31.6125,4.170833,34.975,3.625,81.445833,5.104167
4,Baldwin County (Alabama),1003.0,Black,Female,<1 year,28,0.0,1003.0,212830.0,210908.0,...,16.820833,17.654167,39.058333,13.279167,31.6125,4.170833,34.975,3.625,81.445833,5.104167

In [89]:
# Ensure same number of rows as in original gastric cancer dataset
full_data.shape

(277894, 355)

In [90]:
# Check number of rows with non-null SDOH values
full_data[pd.notna(full_data['ACS_TOT_POP_WT'])].shape

(276564, 355)

In [91]:
# Check number of rows with non-null CDC health metrics values
full_data[pd.notna(full_data['Vision Disability'])].shape

(267634, 355)

## Encode Categorical Columns

In [92]:
# Check values in 'race_name' column
full_data['race_name'].unique()

array(['Latino', 'Black', 'White', 'AIAN', 'API'], dtype=object)

In [93]:
# Check values in 'age_name' column
full_data['age_name'].unique()

array(['<1 year', '1 to 4', '5 to 9', '10 to 14', '15 to 19', '20 to 24',
       '25 to 29', '30 to 34', '35 to 39', '40 to 44', '45 to 49',
       '50 to 54', '55 to 59', '60 to 64', '65 to 69', '70 to 74',
       '75 to 79', '80 to 84', '85 plus'], dtype=object)

In [94]:
# Check values in 'age_group_id' column to see if we can easily use this rather than 'age_name'
full_data['age_group_id'].unique()

array([ 28,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,  15,  16,
        17,  18,  19,  20,  30, 160])

In [99]:
# One-hot encode 'race_name' column into 1/0 cols and drop the first column bc it's redundant
one_hot_encoded = pd.get_dummies(full_data['race_name'], dtype=int, prefix='race_', drop_first=True)
# Concatenate the one-hot encoded columns with the original df & drop original race_name col
encoded_data = pd.concat([full_data, one_hot_encoded], axis=1)
encoded_data = encoded_data.drop(columns=['race_name'])
encoded_data.head()

,location_name,fips,sex_name,age_name,age_group_id,val,COUNTYFIPS,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,ACS_TOT_POP_ABOVE5,...,Physical Inactivity,Self-care Disability,Sleep <7 hours,Stroke,Taking BP Medication,Vision Disability,race__API,race__Black,race__Latino,race__White
0,Autauga County (Alabama),1001.0,Female,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,...,33.5900,5.060000,40.040,3.680,79.660000,6.320000,0,0,1,0
1,Autauga County (Alabama),1001.0,Female,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,...,33.5900,5.060000,40.040,3.680,79.660000,6.320000,0,1,0,0
2,Autauga County (Alabama),1001.0,Female,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,...,33.5900,5.060000,40.040,3.680,79.660000,6.320000,0,0,0,1
3,Baldwin County (Alabama),1003.0,Female,<1 year,28,0.0,1003.0,212830.0,210908.0,201141.0,...,31.6125,4.170833,34.975,3.625,81.445833,5.104167,0,0,1,0
4,Baldwin County (Alabama),1003.0,Female,<1 year,28,0.0,1003.0,212830.0,210908.0,201141.0,...,31.6125,4.170833,34.975,3.625,81.445833,5.104167,0,1,0,0

In [100]:
# One-hot encode 'sex_name' column into 1/0 col and drop the first column bc it's redundant
one_hot_encoded = pd.get_dummies(encoded_data['sex_name'], dtype=int, prefix='sex_', drop_first=True)
# Concatenate the one-hot encoded col with the original df & drop original sex_name col
encoded_data = pd.concat([encoded_data, one_hot_encoded], axis=1)
encoded_data = encoded_data.drop(columns=['sex_name'])
encoded_data.head()

,location_name,fips,age_name,age_group_id,val,COUNTYFIPS,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,ACS_TOT_POP_ABOVE5,ACS_TOT_POP_ABOVE15,...,Self-care Disability,Sleep <7 hours,Stroke,Taking BP Medication,Vision Disability,race__API,race__Black,race__Latino,race__White,sex__Male
0,Autauga County (Alabama),1001.0,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,44749.0,...,5.060000,40.040,3.680,79.660000,6.320000,0,0,1,0,0
1,Autauga County (Alabama),1001.0,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,44749.0,...,5.060000,40.040,3.680,79.660000,6.320000,0,1,0,0,0
2,Autauga County (Alabama),1001.0,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,44749.0,...,5.060000,40.040,3.680,79.660000,6.320000,0,0,0,1,0
3,Baldwin County (Alabama),1003.0,<1 year,28,0.0,1003.0,212830.0,210908.0,201141.0,174821.0,...,4.170833,34.975,3.625,81.445833,5.104167,0,0,1,0,0
4,Baldwin County (Alabama),1003.0,<1 year,28,0.0,1003.0,212830.0,210908.0,201141.0,174821.0,...,4.170833,34.975,3.625,81.445833,5.104167,0,1,0,0,0

In [101]:
# Convert age_name column to numerical - we can keep it in one col bc it's an ordinal variable, not nominal
# Create a mapping of ordinal age values to integers
ordinal_mapping = {
    '<1 year': 0,
    '1 to 4': 1,
    '5 to 9': 2,
    '10 to 14': 3,
    '15 to 19': 4,
    '20 to 24': 5,
    '25 to 29': 6,
    '30 to 34': 7,
    '35 to 39': 8,
    '40 to 44': 9,
    '45 to 49': 10,
    '50 to 54': 11,
    '55 to 59': 12,
    '60 to 64': 13,
    '65 to 69': 14,
    '70 to 74': 15,
    '75 to 79': 16,
    '80 to 84': 17,
    '85 plus': 18
}

# Apply the mapping to the 'age_name' column
encoded_data['age_category'] = encoded_data['age_name'].map(ordinal_mapping)
encoded_data.head()

,location_name,fips,age_name,age_group_id,val,COUNTYFIPS,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,ACS_TOT_POP_ABOVE5,ACS_TOT_POP_ABOVE15,...,Sleep <7 hours,Stroke,Taking BP Medication,Vision Disability,race__API,race__Black,race__Latino,race__White,sex__Male,age_category
0,Autauga County (Alabama),1001.0,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,44749.0,...,40.040,3.680,79.660000,6.320000,0,0,1,0,0,0
1,Autauga County (Alabama),1001.0,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,44749.0,...,40.040,3.680,79.660000,6.320000,0,1,0,0,0,0
2,Autauga County (Alabama),1001.0,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,44749.0,...,40.040,3.680,79.660000,6.320000,0,0,0,1,0,0
3,Baldwin County (Alabama),1003.0,<1 year,28,0.0,1003.0,212830.0,210908.0,201141.0,174821.0,...,34.975,3.625,81.445833,5.104167,0,0,1,0,0,0
4,Baldwin County (Alabama),1003.0,<1 year,28,0.0,1003.0,212830.0,210908.0,201141.0,174821.0,...,34.975,3.625,81.445833,5.104167,0,1,0,0,0,0

## Format and Save Dataset

In [102]:
# Drop all extra columns besides 1 ID column (useful in EDA graphs), target ('val') & features
data_prepped = encoded_data.drop(columns=['fips', 'age_name', 
                                          'age_group_id', 'COUNTYFIPS'])

# rename target ('val') column to be more informative
data_prepped = encoded_data.rename(columns={"val": "TARGET_mortality_rate"})
data_prepped.head()

,location_name,fips,age_name,age_group_id,TARGET_mortality_rate,COUNTYFIPS,ACS_TOT_POP_WT,ACS_TOT_POP_US_ABOVE1,ACS_TOT_POP_ABOVE5,ACS_TOT_POP_ABOVE15,...,Sleep <7 hours,Stroke,Taking BP Medication,Vision Disability,race__API,race__Black,race__Latino,race__White,sex__Male,age_category
0,Autauga County (Alabama),1001.0,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,44749.0,...,40.040,3.680,79.660000,6.320000,0,0,1,0,0,0
1,Autauga County (Alabama),1001.0,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,44749.0,...,40.040,3.680,79.660000,6.320000,0,1,0,0,0,0
2,Autauga County (Alabama),1001.0,<1 year,28,0.0,1001.0,55380.0,54699.0,52163.0,44749.0,...,40.040,3.680,79.660000,6.320000,0,0,0,1,0,0
3,Baldwin County (Alabama),1003.0,<1 year,28,0.0,1003.0,212830.0,210908.0,201141.0,174821.0,...,34.975,3.625,81.445833,5.104167,0,0,1,0,0,0
4,Baldwin County (Alabama),1003.0,<1 year,28,0.0,1003.0,212830.0,210908.0,201141.0,174821.0,...,34.975,3.625,81.445833,5.104167,0,1,0,0,0,0

In [104]:
data_prepped.shape

(277894, 359)

In [103]:
data_prepped.to_csv('prepped_dataset.csv', index=False)